#textdomain wesnoth-Z_Test_01

[textdomain]
	name="wesnoth-Z_Test_01"
	path="data/add-ons/Scenario_with_robots/translations"
[/textdomain]

# wmlscope: set export=no
[campaign]
	id="scenario_with_robots"
	name= _ "Scenario With Robots"
	abbrev= _ "SWR"
	define=CAMPAIGN_SCENARIO_WITH_ROBOTS
	first_scenario="02_SECONDTEST"
	{CAMPAIGN_DIFFICULTY EASY "data/add-ons/Scenario_with_robots/images/units/robots/robot_small.png~RC(magenta>black)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/wheel1.png,36,39)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/cannon1.png,45,25)" ( _ "Easy") ()}
	{CAMPAIGN_DIFFICULTY NORMAL "data/add-ons/Scenario_with_robots/images/units/robots/robot_medium.png~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/bow2.png,0,0)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/wheel1.png,44,52)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/wheel1.png,39,54)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/spear1.png,3,33)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/spear1.png,3,38)" (_ "Normal") ()}
	{CAMPAIGN_DIFFICULTY HARD "data/add-ons/Scenario_with_robots/images/units/robots/robot_big.png~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/cannon1.png,50,35)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/cannon1.png,50,30)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/cannon1.png,50,25)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/spear1.png,3,33)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/spear1.png,3,38)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/propeller1.png,2,15)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/propeller1.png,33,0)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/wheel1.png,44,53)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/wheel1.png,39,55)~BLIT(data/add-ons/Scenario_with_robots/images/units/robots/wheel1.png,34,57)" (_ "Hard") ()}
	description= _ "In this scenario you play with robots"
	{./about.cfg}
[/campaign]

#ifdef MULTIPLAYER
#define CAMPAIGN_SCENARIO_WITH_ROBOTS 1
#enddef
#endif

#ifdef CAMPAIGN_SCENARIO_WITH_ROBOTS
{~add-ons/Scenario_with_robots/macros}
[+units]
	{~add-ons/Scenario_with_robots/units/}
[/units]

{~add-ons/Scenario_with_robots/scenarios}
[binary_path]
	path=data/add-ons/Scenario_with_robots
[/binary_path]
#endif

#ifdef MULTIPLAYER
{~add-ons/Scenario_with_robots/era.cfg}
#endif
